.headline {
  composes: headline from './Resolutions.css';
  margin-top: 3rem;
  font-size: 1.5rem;
}

@media (min-width: 500px) {
  .headline {
    font-size: 2rem;
  }
}

.dots {
  composes: introLogo from './App.css';
  background: url('../images/dots.png') repeat-x;
  height: 6px;
  margin: 2rem auto 3rem;
}

.question {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
}

.text {
  color: #fff;
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

.buttons {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.buttons:after {
  content: "";
  display: table;
  clear: both;
}

.answer {
  composes: generalBtn from './App.css';
  width: 40%;
  display: inline-block;
  margin: 0 5%;
}

.answerYes {
  composes: answer;
}

.answerNo {
  composes: answer;
}
