.loader {
  margin: 10rem auto;
  display: block;
  max-width: 100%;
}

.headline {
  color: #E3D830;
  font-family: 'Petit Formal Script', cursive;
  font-size: 1.55rem;
  text-align: center;
}

@media (min-width: 850px) {
  .headline {
    font-size: 2rem;
  }
}

.list {
  padding: 0 4%;
  margin: 3rem 0 0;
}

.resolution {
  list-style: none;
  margin-bottom: 5rem;
}

.resolution:after {
  content: "";
  display: table;
  clear: both;
}

.resolutionImage {
  width: 100%;
  max-width: 270px;
  display: block;
  margin: 0 auto;
}

@media (min-width: 850px) {
  .resolutionImage {
    width: 40%;
    float: left;
    max-width: 220px;
  }
}

.content {
  width: 100%;
  margin: 1rem auto 0;
}

@media (min-width: 850px) {
  .content {
    width: 60%;
    float: right;
    margin-top: 2rem;
  }
}

.num {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0;
}

.text {
  color: #fff;
  font-family: 'Petit Formal Script', cursive;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.button {
  composes: generalBtn from './App.css';
  padding: 0.5rem 1rem;
  width: 220px;
  display: block;
  margin: 0 auto;
}

.share {
  margin: 3rem auto 0;
  display: block;
}

.shareCallout {
  color: #fff;
  font-family: 'Petit Formal Script', cursive;
  font-size: 1rem;
  margin: 5rem 0 1.5rem;
  text-align: center;
}

.shareList {
  padding: 0;
  margin-top: 0.5rem;
  text-align: center;
}

.shareList:after {
  content: "";
  display: table;
  clear: both;
}

.shareList > li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
}

.shareIcon {
  width: 55px;
  height: 55px;
  display: block;
  background-repeat: no-repeat;
}

.shareFb {
  composes: shareIcon;
  background-image: url('../images/share-fb.png');
}

.shareFb:hover {
  background-image: url('../images/share-fb-hover.png');
}

.sharePin {
  composes: shareIcon;
  background-image: url('../images/share-pin.png');
}

.sharePin:hover {
  background-image: url('../images/share-pin-hover.png');
}

.shareTwttr {
  composes: shareIcon;
  background-image: url('../images/share-twt.png');
}

.shareTwttr:hover {
  background-image: url('../images/share-twt-hover.png');
}
